/* 公共样式 */
.rot2 {
    width: 1008px;
    border-radius: 4px;
    position: absolute;
    top: 60px;
    left: 292px;
}

.list_2 {
    font-size: 14px;
}

input, img, textarea {
    border: 0;
    outline: 0;
    background: none;
}