
//提醒
.ico-hint{
    display: inline-block;
    background-image: url(../images/common-icon/hint.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    //margin-bottom: -2px;
    cursor: pointer;
}
//绿色背景的选中
.ico-selOk{
    display: inline-block;
    width: 18px;
    height: 16px;
    background-image: url(../images/common-icon/sel-ok.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: -2px;
    cursor: pointer;
}
//灰色的叉
.ico-camcel-X{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/common-icon/delete2_normal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 2px;
    right: -21px;
    cursor: pointer;
}
//设置的小齿轮
.ico-mess-from{
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url(../images/common-icon/setting.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
}
//绿色的无背景的对号
.sel-circle-ok{
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url(../images/common-icon/confirm_normal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
//空的未选之前的圆
.empty-circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/common-icon/radio_normal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
//选中后绿色的单选框的圆
.click-circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/common-icon/radio_press.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
//右翻页
.click-right{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../images/common-icon/co-right.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
//多选，选中之后的对号
.click-checkout{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/common-icon/multiselect_press.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
